{% extends 'skeleton_base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="container">
    <div class="fourteen columns offset-by-one">
        <h1 class="title">Photo and Video Contest</h1>
        <div>
            <p>The WORS Photo and Video contest seeks to reward WORS spectators and participants who capture the WORS
                experience with high quality photos and video clips. For each race, we will award prizes for the Best
                Photo in three (3) separate Categories and an Overall Best. The photo categories will change for each
                venue, and may be announced via WORS <a href="http://www.facebook.com/WORSRacing">Facebook</a> and <a
                        href="http://twitter.com/#!/teamwors">Twitter</a>.</p>

            <p><em>Above all, we hope that the photo and video contest will increase the participation and enjoyment of
                our many talented WORS photographers!</em></p>

            <h2>Prizes:</h2>
            <ul>
                <li>Best in Category – $10 WORS bucks.</li>
                <li>Best Overall – $25 WORS bucks.</li>
            </ul>
            <p>WORS bucks can be used for race registration or merchandise at the WORS tent.</p>

            <h2>How to Enter:</h2>

            <p>Submit full-size, digital photos or short video clips via the submission form. For photos, we recommend a
                minimum print-quality resolution of 600+ dpi. We prefer that you submit multiple photos and/or videos.
                Photos cannot contain a watermark.</p>

            <p><em>If you need detailed instructions for the submission form, they are found <a href="#1">here</a>.</em></p>

            <h2>Photo and Video Contest Categories:</h2>

            <p>To give greater breadth of coverage for WORS events, we will change some of the award categories
                throughout the season. For example, “Best Photo or Video from the Kid’s Race” may be a category at one
                event, and “Best Photo or Video of a Racer in the 50+ age group” at another. Two Categories that are
                likely to be included at every race are “Best Photo or Video of the Venue” and “Best Photo or Video of
                racer(s) and Sponsor Banners”.</p>

            <p><strong>Best Photo or Video of the Venue:</strong><br>
                An important goal of the photo contest in documenting WORS events is to capture a panoramic view of the
                venue. Some venues lend themselves especially well to this. An ideal venue photo includes the following
                elements:</p>
            <ul>
                <li>A view of the WORS Start and exhibition area that is as complete as possible (Start, exhibitors,
                    sponsor banners, the WORS trailer, racers and spectators)
                </li>
                <li>The large crowd presence around a significant group of racers leaving the start. Tip: At many races,
                    the best time to capture this is when the first few waves of Sport Men begin. At midday, the
                    spectator presence is always large, and the Sport Men have large starting waves. The Elite and Pro
                    race at the Subaru Cup is another crowd favorite.
                </li>
                <li>Any additional facilities. For example, the lodge at Treadfest.</li>
                <li>If you are fortunate, good weather.</li>
            </ul>
            <p><strong>Best Photo or Video of racer(s) and Sponsor Banners:</strong><br>
                WORS Heads already know that WORS Sponsors are a significant presence at WORS events. Team WORS makes
                sure that banners are present throughout the venue, including at favorite spectator areas along the
                course. One goal of this Category will be to document WORS Sponsor presence with great shots of our
                racers. To facilitate this, Team WORS will be installing sponsor banners on each courser in areas where
                spectators are likely to congregate, and where we expect great photos can be taken. Even if you are not
                planning on taking photographs, you may want to check out these spectator areas!</p>

            <h2>How WORS will use the photos and videos</h2>

            <p>By submitting your photo or video to the contest, you grant WORS permission to use the photo or video in
                marketing and promotion. Please note that this permission does NOT mean that the creator relinquishes
                their copyright. By entering the photo and video contest, you grant WORS permission to use the photo or
                video. That use includes, but is not limited to, posting the photo or video online at WORS.org, the
                Flickr account for Team WORS, the Vimeo account for Team WORS, and any secondary site that may promote
                WORS via news reports or other media attention. Whenever possible, we include photographer or
                videographer attribution. You will find good examples of how contest photos are used in national and
                international cycling media <a
                        href="http://www.cyclingnews.com/news/photos/strigel-and-schouten-win-2010-wisconsin-off-road-series-titles">here</a>.
                We may also use photos submitted to the Photo Contest in print media, our handbook, in displays and in
                other ways to promote WORS.</p>

            <p><a name="1"></a></p>

            <h2>How to submit via the submission form:</h2>

            <p><a name="1"></a></p>

            <p>&nbsp;</p>

            <p><a name="1"></a><br>
                We have tried or best to make submitting photos as easy as possible.
                Of course, we hope you’ll still upload your photos to flickr, Facebook, and many other photo sharing
                websites for all of your WORS friends!</p>

            <p><strong>Four easy steps to upload your photos to the WORS Photo Contest site:</strong></p>

            <p>1. Take some pictures, and organize them in a folder.</p>

            <p>2. Select the "UPLOAD" link in the menu.</p>

            <p>3. Fill out your profile information so we can associate the photos with you.</p>

            <p>4. Either drag and drop your photos onto the submission page or select the "Add files..." button, and then press "Start upload".</p>

            <p>Once you do this, you may need to stay online while the files transfer. The site will show the
                progress of the file transfer, and let you know that your transfer was a success.</p>

            <p><i>Unofficial Step 5. Sit back and relax and maybe come pick up your winnings at the WORS tent?</i></p>

            <p>If you are having trouble with the site, or are in a state of photo or video emergency and must submit photos
                or videos in another way, you can always email us at teamwors at gmail dot com. Thanks!</p>

        </div>
    </div>
</div>
{% endblock %}
