{% extends 'jfu/upload_form.html' %}
{% block UPLOAD_FORM_BUTTON_BAR %}
    <div class="row fileupload-buttonbar">
        {% comment %}
 The fileupload-buttonbar contains buttons to add/delete files and
 start/cancel the upload
{% endcomment %}

        <div>

            {% comment %}
         The fileinput-button span is used to style the file input field as button
        {% endcomment %}

            {% block UPLOAD_FORM_BUTTON_BAR_ADD %}
                <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add files...</span>


                    {% block FILE_INPUT %}
                        {% comment %}
                The file input for the upload form.
            {% endcomment %}
                        <input
                                type="file" name="files[]" multiple

                                {% if accepted_mime_types %}
                                accept='{{ accepted_mime_types|join:"," }}'
                                {% endif %}
                                >
                    {% endblock %}

        </span>
            {% endblock %}

            {% block UPLOAD_FORM_BUTTON_BAR_CONTROL %}
                <button type="submit" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start upload</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel upload</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" class="toggle">
            {% endblock %}

        </div>

        {% block UPLOAD_FORM_PROGRESS_BAR %}
            {% comment %}
     The global progress information
    {% endcomment %}
            <div class="col-lg-5 fileupload-progress fade">
                {% comment %}
         The global progress bar
        {% endcomment %}
                <div
                        class="progress progress-striped active"
                        role="progressbar"
                        aria-valuemin="0" aria-valuemax="100"
                        >
                    <div class="progress-bar progress-bar-success" style="width:0%;">
                    </div>
                </div>
                {% comment %}
         The extended global progress information
        {% endcomment %}
                <div class="progress-extended">&nbsp;</div>
            </div>
        {% endblock %}

    </div>
{% endblock %}